@page
@model TestAssignmentAvSoft.Pages.Counter.InsertModel

@{
    ViewData["Title"] = "Get";
}

<h2>Get</h2>

<h4>CounterModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CounterModel.Id" class="control-label"></label>
                <input asp-for="CounterModel.Id" class="form-control" />
                <span asp-validation-for="CounterModel.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CounterModel.Value" class="control-label"></label>
                <input asp-for="CounterModel.Value" class="form-control" />
                <span asp-validation-for="CounterModel.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
